.App {
  text-align: center;
}


.App-header {
  background-color: #9aefdc;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(145, 2, 177);
}
.mytime{
  align-items:flex-start;
  justify-content: flex-start;
  color: black;
  font-family: monospace;
  font-size: 12px;
}




