/* quoteDisplay.css */
.button {
    padding: 10px 20px;
    background-color: rgb(177, 105, 199);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 14px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(97, 5, 73);
    margin-top: 20px;
  }
  .quote-container {
    width: 60%; /* Or any preferred width */
    margin: 0 auto; /* Center the container */
    text-align: center; /* Center-align the quote text */
  }
  .quote{
    color: rgb(12, 56, 3);
    font-size: 24px;
    padding: 20px; /* Add padding around the quote */
    border: 1px solid rgb(67, 131, 48);
    background-color: rgb(246, 250, 249);
  }
  .countt{
    text-align: center;
  }
  .daily{
    text-align: center;
    font-family:cursive;
    font-size: small;
  }
  
  /* Add your custom styles for the slider container or individual slides */
.slick-slider {
  width: 70%;
  margin: auto;
}

.slick-prev,
.slick-next {
  font-size: 24px;
  color: rgb(92, 23, 23);
  background-color: rgb(85, 63, 150);
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.slick-prev {
  left: 10px;
}

.slick-next {
  right: 10px;
}

.countt{
  color: rgb(242, 115, 136);
}

 
  