/* quoteDisplay.css */
.button {
    padding: 10px 20px;
    background-color: rgb(4, 75, 80);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 14px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(245, 240, 246);
    margin-top: 20px;
  }
  