/* quoteDisplay.css */
.button {
    padding: 10px 20px;
    background-color: rgb(13, 111, 133);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 14px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(245, 240, 246);
    margin-top: 20px;
  }
  .quote-container {
    width: 60%; /* Or any preferred width */
    margin: 0 auto; /* Center the container */
    text-align: center; /* Center-align the quote text */
  }
  .quote{
    color: rgb(36, 8, 8);
    font-size: 24px;
    padding: 20px; /* Add padding around the quote */
    border: 1px solid rgb(94, 25, 25);
    background-color: rgb(255, 255, 255);
  }
  .exercises{
    font-size: 18px;
    color:darkslategray;
    text-align: center;
  }
  